:root{
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);

    /* segundo css: */

    --White: hsl(0, 0%, 100%);
   --Light:  hsl(212, 45%, 89%);
   --Grayish: hsl(220, 15%, 55%);
   --Dark: hsl(218, 44%, 22%);
 
}